*{
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
button{
  display: flex;
  width: auto;
  
  flex-direction: row;

}
.botones{
  position: static;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.info{
 align-items: center;
  display: flex;
  flex-direction: column;
}
.descrip{
  width:50% ;
  text-align: justify;

}
/* .img{
  width: 50%;
  height: 50%;
} */
